server:
  port: ${SERVER_PORT:8082}
  forward-headers-strategy: framework  # reads X-Forwarded-* headers from gateway/load-balancer

spring:
  threads:
    virtual:
      enabled: true  # Java 21 Virtual Threads
  application:
    name: account-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5434/digibnk_account}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8090/realms/digibnk}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: ${JPA_SHOW_SQL:true}
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP:account-service-group}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest
      enable-auto-commit: false
      properties:
        spring.json.trusted.packages: "*"

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
  instance:
    preferIpAddress: true

management:
  tracing:
    sampling:
      probability: ${TRACING_SAMPLE_RATE:1.0}
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_URL:http://localhost:9411}/api/v2/spans
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    com.digibnk.account.kafka: DEBUG
    org.springframework.kafka: INFO

app:
  swagger:
    server-url: ${API_SERVER_URL:http://localhost:8082}
  kafka:
    topics:
      transaction-created: ${KAFKA_TOPIC_TRANSACTION_CREATED:digibnk.transaction.created}
